@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Space+Grotesk:wght@300..700&display=swap');

@import "tailwindcss";
@plugin "@iconify/tailwind4";

@theme{
    --color-primary: #FF9617;
    --color-secondary: #9417B1;

    --color-info: #2F80ED;
    --color-succes: #27AE60;
    --color-warning: #E2B93B;
    --color-error: #EB5757;

    --color-black1: #000000;
    --color-black2: #1D1D1D;
    --color-black3: #282828;
    --color-white: #FFFFFF;

    --color-gray1: #333333;
    --color-gray2: #4F4F4F;
    --color-gray3: #828282;
    --color-gray4: #BDBDBD;
    --color-gray5: #E0E0E0;

    --color-dark: #1E0523;
    --color-neutral: #DDDDDD;

    --border-primary: #94669D;
    --border-secondary: #DEAF7D;
    --border-tertiary: #695A61;

    --font-primary: 'Space Grotesk', system-ui, sans-serif;
    --font-secondary: 'Inter', system-ui, sans-serif;
}